.App {
  text-align: center;
  border: 2px solid white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  background-color: #e1e3e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.container{
  border: 5px solid #2c2d2e;
  background-color: #8da1ce;
  border-radius: 15px;
  width: 400px;
  color: #2c2d2e;
}

h1{
  color: #2c2d2e;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

